/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.hero-container {
    display: flex;
    justify-content: center;
    background-color: #eef2fb;
}

.left-hero-container {
    width: 43%;
    display: grid;
    align-content: stretch;
    justify-content: start;
    justify-items: start;
    margin-top: 70px;
}

.top-hero-titles {
    margin-bottom: 60px;
}

.hero-title {
    font-size: 50px;
    padding: 10px;
    margin-bottom: 30px;
    color: black;
}

.hero-subtitle {
    font-size: 25px;
    padding: 10px;
    width: 80%;
    color: #333;
}

.explore-more {
    width: 185px;
    height: 50px;
    border: none;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    cursor: pointer;
    margin: 10px;
}

.arrow-rigth {
    margin-left: 15px;
}

.right-hero-container {
    width: 47%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.superior-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-button {
    position: relative;
    top: 50px;
    left: 10px;
    width: 60px;
    background-color: #c1ccd5;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

.new-button-bottom {
    position: relative;
    top: 50px;
    left: 10px;
    width: 60px;
    background-color: #fbe3f9;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

.img-design {
    width: 215px;
    height: 215px;
    margin-right: 25px;
    border-radius: 30px;
    object-fit: cover;
    transition: 0.5s;
}

.img-design:hover {
    transform: scale(1.2);
}

.img-sofa {
    width: 215px;
    height: 215px;
    border-radius: 30px;
    object-fit: cover;
    transition: 0.5s;
}

.img-sofa:hover {
    transform: scale(1.2);
}

.img-interior {
    width: 460px;
    height: 215px;
    border-radius: 30px;
    object-fit: cover;
    transition: 0.5s;
}

.img-interior:hover {
    transform: scale(1.2);
}

