* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #eef2fb;
  padding: 18px 0 25px;
  align-items: center;
  height: 110px;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.navbar-list .bttn {
  height: 30px;
  padding: 10px;
  color: #121115;
  background: transparent;
  border: none;
  font-family: "Roboto Medium";
  font-size: 1rem;
  text-decoration: none;
}

.navbar-list .bttn:last-child {
  margin-bottom: 10px;
}

.bttn {
  margin: 0;
  border: 0;
  padding: 8px;
  margin-left: 5px;
  font-family: "Roboto Medium";
  font-size: 0.9rem;
  display: flex;
}

.icon a img {
  width: 60%;
  margin-top: 8px;
  filter: invert(20%) sepia(100%) saturate(2382%) hue-rotate(292deg)
    brightness(97%) contrast(105%);
  margin-left: 60px;
}

.login-register {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.login-register li {
  margin-left: 10px;
}

.login-register li button {
  font-family: "Roboto Medium";
  border: 0;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 8px 15px;
  border-radius: 15px;
}

.login button {
  background-color: #c900c0;
  color: #fff;
  height: 38px;
}

.right-container-navbar {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.first-bttn {
  margin: 0;
  border: 0;
  padding: 8px;
  margin-left: 5px;
  font-family: "Roboto Medium";
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  background: none;
  outline: none;
  color: #cd06bc;
  border-bottom: 1px solid #cd06bc;
}

.register button {
  background-color: #fafafa;
  color: #c900c0;
  border-radius: 15px;
  padding: 7px 15px;
}

.register {
  border: 2px solid #cb1bc3;
  border-radius: 15px;
  height: 38px;
}

.bttn-dropdown {
  position: relative;
  cursor: pointer;
}

.bttn-dropdown .arrow-down {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #cd06bc;
  cursor: pointer;
}

.dropdown {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
}

.dropdown a {
  text-decoration: none;
  color: #c900c0;
  margin: 8px 0;
  cursor: pointer;
}

.bttn {
  position: relative;
}

.bttn.active .dropdown {
  display: block;
}

.bttn.active {
white-space: nowrap;
}