* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  background-color: #eef2fb;
  padding-top: 18px;
  padding-bottom: 25px;
}

.navbar-list {
  list-style: none;
  display: flex;
  margin-top: 15px;
  margin-right: 25px;
}

.bttn {
  margin: 0;
  border: 0;
  padding: 8px;
  margin-left: 5px;
  font-family: "Roboto Medium";
  font-size: 0.9rem;
  display: flex;
}

.icon a img {
  width: 100%;
  margin-top: 15px;
  filter: invert(23%) sepia(100%) saturate(2382%) hue-rotate(292deg)
    brightness(97%) contrast(105%);
}

.login-register {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.login-register li {
  margin-left: 10px;
}

.login-register li button {
  font-family: "Roboto Medium";
  border: 0;
  cursor: pointer;
  font-size: 0.9rem;
}

.login button {
  background-color: #c900c0;
  color: rgb(245, 245, 245);
  border-radius: 15px;
  padding: 10px;
}

.right-container-navbar {
  display: flex;
  justify-content: space-between;
}

.first-bttn {
  margin: 0;
  border: 0;
  padding: 8px;
  margin-left: 5px;
  font-family: "Roboto Medium";
  font-size: 0.9rem;
  display: flex;
  color: #cd06bc;
  border-bottom: 1px solid #cd06bc;
}

.register button {
  background-color: rgb(250, 250, 250);
  color: #c900c0;
  border-radius: 15px;
  padding: 7px 10px;
}

.register {
  border: 2px solid #cb1bc3;
  border-radius: 15px;
  height: 38px;
}

.dropdown {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-down {
  margin-left: 2px;
  font-size: 1.2rem;
}

.dropdown {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
}

.arrow-down {
  margin-left: 2px;
  font-size: 1.2rem;
}

.dropdown a,
.first-dropdown a {
  display: inline-block;
  text-decoration: none;
  color: #c900c0;
  margin: 8px 0;
}
