* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #eef2fb;
  padding: 18px 0 25px;
  align-items: center;
  height: 110px;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-left: 20px;
}

.navbar-list .bttn {
  height: 30px;
  padding: 10px;
  color: #121115;
  background: transparent;
  border: none;
  font-family: "Roboto Medium";
  font-size: 1rem;
  text-decoration: none;
}

.navbar-list .bttn:last-child {
  margin-bottom: 10px;
}

.bttn {
  margin: 0;
  border: 0;
  padding: 8px;
  margin-left: 5px;
  font-family: "Roboto Medium";
  font-size: 0.9rem;
  display: flex;
  background-color: #eef2fb;
  cursor: pointer;
}

.icon a img {
  width: 60%;
  margin-top: 8px;
  filter: invert(20%) sepia(100%) saturate(2382%) hue-rotate(292deg) brightness(97%) contrast(105%);
  margin-left: 60px;
}

.login-register {
  display: flex;
  list-style: none;
  margin-top: 10px;
  margin-left: 20px;
}

.login-register li {
  margin-left: 10px;
}

.login-register li button {
  font-family: "Roboto Medium";
  border: 0;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 8px 15px;
  border-radius: 15px;
}

.login button {
  background-color: #c900c0;
  color: #fff;
  height: 38px;
}

.right-container-navbar {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.bttn-first {
  margin-left: 5px;
  font-family: "Roboto Medium";
  font-size: 1rem;
  color: #cd06bc;
  border-bottom: 1px solid #cd06bc;
  background-color: #eef2fb;
  cursor: pointer;
  text-decoration: none;
  padding: 8px;
}

.register button {
  background-color: #fafafa;
  color: #c900c0;
  border-radius: 15px;
  padding: 7px 15px;
}

.register {
  border: 2px solid #cb1bc3;
  border-radius: 15px;
  height: 38px;
}

.bttn-dropdown {
  position: relative;
  cursor: pointer;
}

.bttn-dropdown .arrow-down {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #cd06bc;
  cursor: pointer;
}

.dropdown {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
  background-color: #14171a;
  border-radius: 5px;
  padding: 10px 0px;
}

.dropdown a {
  text-decoration: none;
  font-family: "Roboto Medium";
  color: rgb(240, 240, 240);
  margin: 8px 0;
  cursor: pointer;
  padding: 15px 20px 12px 10px;
  margin: 15px 20px 15px 10px;
}

.dropdown li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bttn {
  position: relative;
}

.bttn.active .dropdown {
  display: block;
}

.bttn.active {
  white-space: nowrap;
}

.menu-hamburger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .right-container-navbar {
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 300px;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .login-register {
    flex-direction: column;
    justify-content: center;
    display: none;
    align-items: center;
  }

  .login-register.active {
    display: flex;
    margin: 0;
  }

  .login {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }

  .menu-hamburger {
    display: block;
    color: #121115;
    font-size: 30px;
  }

  .right-container-navbar.active {
    display: flex;
    position: fixed;
    z-index: 1;
  }

  .register {
    border: none;
    width: 100%;
    text-align: center;
  }

  @keyframes scale-up-right {
    0% {
      transform: scale(0.5);
      transform-origin: right center;
    }

    100% {
      transform: scale(1);
      transform-origin: right center;
    }
  }
}
