

.offer-container {
  padding: 20px;
}

.offer-container h2 {
  font-size: 1.5rem;
  color: #cd06bc;
  margin-bottom: 20px;
}

.offer-container ul {
  list-style: none;
}

.offer-container li {
  border: 1px solid #eef2fb;
  padding: 20px;
  margin-bottom: 20px;
}

.offer-container h3 {
  font-size: 1.2rem;
  color: #cd06bc;
  margin-bottom: 10px;
}

.offer-container p {
  margin-bottom: 10px;
}

.offer-container span {
  color: #121115;
  font-weight: bold;
}
